<?xml version="1.0" encoding="utf-8"?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
 autoReload="true"
 internalLogLevel="Warn"
 internalLogFile="D:\temp\internal-nlog.txt">
  <!--  ASP.NET Core 使用 -->
  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>
  <targets>
    <!-- 全部日志文件 -->
    <target xsi:type="File" name="allfile" fileName="D:\temp\nlog-all-${shortdate}.log" layout="${longdate}|${event-properties:item=EventId.Id}|${logger}|${uppercase:${level}}|${message} ${exception}"/>
    <!-- 自定义记录的日志文件 -->
    <target xsi:type="File" name="ownFile-web" fileName="D:\temp\nlog-own-${shortdate}.log" layout="${longdate}|${event-properties:item=EventId.Id}|${logger}|${uppercase:${level}}|  ${message} ${exception}|url: ${aspnet-request-url}|action: ${aspnet-mvc-action}"/>
    <target xsi:type="Null" name="blackhole"/>
    <target xsi:type="Database" name="mssql" connectionString="Data Source=.\mssql2012;Initial Catalog=ssowebtest;Persist Security Info=True;User ID=sa;Password=sa2012LJ" commandText="insert into Logs([CreateDate],[LogLevel],[Origin],[Action],[Request],[Message], [Exception],[StackTrace],[OperUser],[IpAddress]) values (getdate(), @LogLevel, @Origin,@ation,@request, @Message,@Exception, @StackTrace,@operuser,@operip)">
      <!--日志等级-->
      <parameter name="@logLevel" layout="${level}"/>
      <!--日志来源-->
      <parameter name="@origin" layout="${callsite}"/>
      <!--访问Action-->
      <parameter name="@ation" layout="${aspnet-mvc-action}"/>
      <!--访问Url-->
      <parameter name="@request" layout="${aspnet-request-url}"/>
      <!--日志消息-->
      <parameter name="@message" layout="${message}"/>
      <!--异常信息-->
      <parameter name="@exception" layout="${exception}" />
      <!--堆栈信息-->
      <parameter name="@stackTrace" layout="${stacktrace}"/>
      <!--操作人员-->
      <parameter name="@operuser" layout="${event-properties:item=OperUser}"/>
      <!--操作Ip-->
      <parameter name="@operip" layout="${event-properties:item=IpAddress}"/>
    </target>
  </targets>
  <rules>
    <!--所括asp.net core下的全部日志-->
    <!--<logger name="*" minlevel="Trace" writeTo="allfile"/>-->
    <!--所括asp.net core下的全部日志-->
    <!-- 除非调试需要，把 .NET Core 程序集的 Debug 输出都屏蔽 Trace -》Debug-》 Information -》Warning-》 Error-》 Critical-->
    <logger name="Microsoft.*" minLevel="Trace" writeTo="blackhole" final="true" />
    <!-- 除非调试需要，把系统的 Debug 输出都屏蔽 -->
    <logger name="System.*" minLevel="Trace" writeTo="blackhole" final="true" />
    
    <!--自定义-->
    <logger name="operlogger"  minlevel="Info" writeTo="mssql"/>
    <!--仅自定义记录的日志文件-->
    <!--<logger name="Microsoft.*" minlevel="Trace" writeTo="blackhole" final="true"/>-->
    <logger name="*" minlevel="Trace" writeTo="ownFile-web"/>
  </rules>
</nlog>