
@{
    ViewData["Title"] = "数据字典明细表单";
    Layout = "~/Views/Shared/_FormLayout.cshtml";
}
@section scripts
{
    <script src="~/lib/jquery-form/dist/jquery.form.min.js"></script>
    <script src="~/js/utils.js"></script>
    <script>
        var msgloading;
        var form;
        var laytpl;
        var typeid, typecode;
        layui.use(['form'],
            function () {
                form = layui.form();

                //监听指定开关
                form.on('switch(switchStatus)',
                    function (data) {
                        var ischeck = data.elem.checked;
                        if (ischeck) {
                            $('#Status').val(1);
                        } else {
                            $('#Status').val(0);
                        }
                    });

                form.on('submit(savedata)',
                    function (data) {
                        var key = $.request('key');
                        $(this).ajaxSubmit({
                            type: 'post',
                            url: '/dict/savedata?key=' + key,
                            dataType: 'json',
                            data: data.field,
                            beforeSend: function () {
                                msgloading = layer.msg('正在保存数据...',
                                    {
                                        icon: 16,
                                        shade: 0.01
                                    });
                            },
                            complete: function () {
                                layer.close(msgloading);
                            },
                            success: function (res) {
                                if (res.type == 1) {
                                    layer.alert(res.msg,
                                        function () {
                                            var index = parent.layer.getFrameIndex(window.name); //获取窗口索引
                                            parent.layer.close(index);
                                        });
                                } else {
                                    layer.alert(res.msg);
                                }
                            }
                        });
                        return false;
                    });
            });

        $(window).ready(function () {
            init();
        });

        function init() {
            typeid = $.request('typeid');
            typecode = $.request('typecode');
            $('#DictTypeId').val(typeid);
            $('#DictTypeCode').val(typecode);

            var key = $.request('key');
            if (!$.isNullOrEmpty(key)) {
                $.ajax({
                    url: '/dict/getdict',
                    data: { 'key': key },
                    cache: false,
                    beforeSend: function () {
                        msgloading = layer.msg('正在加载数据...',
                            {
                                icon: 16,
                                shade: 0.01
                            });
                    },
                    complete: function () {
                        layer.close(msgloading);
                    },
                    success: function (data) {
                        //$("#ParentId").val(data.ParentId);
                        $('#form1').SetWebControls(data);
                        form.render();
                    }
                });
            }
        }

    </script>
}
<div style="margin: 15px;">
    <fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
        <legend>请填写数据信息</legend>
    </fieldset>
    <form id="form1" class="layui-form" method="post" action="">
        <div class="layui-form-item">
            <label class="layui-form-label">类型代码：</label>
            <div class="layui-input-inline">
                <input type="hidden" id="DictDetailId" name="DictDetailId" />
                <input type="hidden" id="DictTypeId" name="DictTypeId"/>
                <input type="text" id="DictTypeCode" name="DictTypeCode" autocomplete="off" readonly="readonly" class="layui-input" />
            </div>
            <label class="layui-form-label">字典名称：</label>
            <div class="layui-input-inline">
                <input type="text" id="ItemName" name="ItemName" lay-verify="required" autocomplete="off" placeholder="请输入字典名称" class="layui-input" />
            </div>
            <label class="layui-form-label">字典值：</label>
            <div class="layui-input-inline">
                <input type="text" id="ItemValue" name="ItemValue" lay-verify="required" autocomplete="off" placeholder="请输入字典值" class="layui-input" />
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">排列序号：</label>
            <div class="layui-input-inline">
                <input type="text" id="SortCode" name="SortCode" lay-verify="number" autocomplete="off" placeholder="请输入排列序号" class="layui-input" value="0" />
            </div>
            <label class="layui-form-label">当前状态：</label>
            <div class="layui-input-inline">
                <input type="checkbox" id="Status" name="Status" lay-skin="switch" lay-filter="switchStatus" title="当前状态" lay-text="启用|禁用" />
            </div>
            <div class="layui-input-inline">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">备注信息：</label>
            <div class="layui-input-block">
                <textarea id="Description" name="Description" placeholder="请输入内容" class="layui-textarea"></textarea>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-input-block">
                <button class="layui-btn" lay-submit="" lay-filter="savedata">立即提交</button>
                <button type="reset" class="layui-btn layui-btn-primary">重置</button>
            </div>
        </div>
    </form>
</div>
