
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <meta name="keywords" content="">
    <meta name="description" content="">
    <title>数据字典管理</title>
    <link type="text/css" href="~/css/main.css" rel="stylesheet" />
    <link href="~/css/global.css" rel="stylesheet" />
    <link href="~/layui/layui/css/layui.css" rel="stylesheet" />
    <link type="text/css" href="~/lib/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <link type="text/css" href="~/css/table.css" rel="stylesheet" />
</head>
<body>
    <div class="admin-main">
        <div class="layui-field-box" style="display: flex;">
            <div style="flex: 1; border-right: 1px dotted #ddd">
                <div style="display: inline-block; width: 140px; overflow: auto;">
                    <ul id="tree_dict"></ul>
                </div>
            </div>
            <div style="flex: 6;">
                <div style="padding: 0px 30px 20px 30px">
                    <blockquote class="layui-elem-quote">
                        <a href="javascript:;" class="layui-btn layui-btn-small" id="add">
                            <i class="fa fa-plus" aria-hidden="true"></i> 添加信息
                        </a>
                        <a href="#" class="layui-btn layui-btn-small" id="delete">
                            <i class="fa fa-minus-circle" aria-hidden="true"></i> 删除信息
                        </a>
                        <a href="#" class="layui-btn layui-btn-small" id="addtype">
                            <i class="fa fa-plus" aria-hidden="true"></i> 添加类型
                        </a>
                        <a href="javascript:;" class="layui-btn layui-btn-small" id="typeop">
                            <i class="fa fa-plus" aria-hidden="true"></i> 类型管理
                        </a>
                    </blockquote>
                    <table id="users" class="layui-table table-hover">
                        <thead>
                            <tr>
                                <th><input type="checkbox" id="checkalla" lay-skin="primary" lay-filter="allChoose" /></th>
                                @*<th></th>*@
                                <th>用户名</th>
                                <th>真实姓名</th>
                                <th>用户状态</th>
                                <th>添加时间</th>
                                <th>添加人员</th>
                                <th>操作</th>
                            </tr>
                        </thead>
                        <tbody id="utbody"></tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/layui/layui/lay/dest/layui.all.js"></script>
    <script src="~/js/utils.js"></script>
    <script>
        var msgloading;
        var layer;
        var form;
        var laytpl;
        layui.use(['laypage', 'layer', 'form', 'laytpl', 'tree'],
            function () {
                layer = layui.layer;
                form = layui.form();
            });

        $(function () {
            init();

            $('#addtype').click(addItemType);

            $('#typeop').click(function() {
                alert('类型管理');
            });


        });

        function init() {
            $.ajax({
                type: 'get',
                url: '/dict/getlist',
                cache: false,
                beforeSend: function () {
                    msgloading = layer.msg('正在加载数据...',
                        {
                            icon: 16,
                            shade: 0.01
                        });
                },
                complete: function () {
                    layer.close(msgloading);
                },
                success: function (res) {
                    if (res) {
                        var data = toTreeData(res, 'id', 'parentid', 'children');
                        layui.tree({
                            elem: '#tree_dict',
                            nodes: data,
                            click: function (node) {
                                if (node.islast == 1) {
                                    alert(node.name);
                                }   
                            }
                        });
                    }
                }
            });
        }

        function addItemType() {
            layer.open({
                type: 2,
                anim: 1,
                title: '新增信息',
                content: '/dicttype/form',
                area: ['82%', '90%'],
                maxmin: true,
                full: function (elem) {
                    var win = window.top === window.self ? window : parent.window;
                    $(win).on('resize',
                        function () {
                            var $this = $(this);
                            elem.width($this.width()).height($this.height()).css({
                                top: 0,
                                left: 0
                            });
                            elem.children('div.layui-layer-content').height($this.height() - 95);
                        });
                },
                end: function () {
                    //bindGird();
                }
            });
        }
    </script>
</body>
</html>
