@{
    ViewData["Title"] = "用户信息表单";
    Layout = "~/Views/Shared/_FormLayout.cshtml";
}
@section scripts
{
    <script src="~/lib/jquery-form/dist/jquery.form.min.js"></script>
    <script src="~/js/utils.js"></script>
    <script>
        var msgloading;
        var form, laydate;
        layui.use(['form', 'upload', 'laydate'],
            function () {
                var $ = layui.jquery;
                form = layui.form();
                //var laydate;
                laydate = layui.laydate;
                //layui.upload({
                //    url: '/test/upload.json',
                //    elem: '#test' //指定原始元素，默认直接查找class="layui-upload-file"
                //    ,
                //    method: 'get' //上传接口的http类型
                //    ,
                //    success: function (res) {
                //        //LAY_demo_upload.src = res.url;
                //    }
                //});

                //submit
                form.verify({
                    fname: function (value) {
                        if (value.length < 4) {
                            return '请输入至少4位的用户名！';
                        }
                    },
                    realname: function (value) {
                        if (value.length === 0) {
                            return '请输入真实姓名！';
                        }
                    },
                    cardnum: function (value) {
                        if (value === '' || value === null) {
                            return;
                        } else {
                            return isCardID(value);
                        }
                    }
                });

                $(function () {
                    init();
                });

                //监听指定开关
                form.on('switch(switchTest)',
                    function (data) {
                        var ischeck = data.elem.checked;
                        if (ischeck) {
                            $('#Status').val(1);
                        } else {
                            $('#Status').val(0);
                        }
                    });

                form.on('submit(savedata)',
                    function (data) {
                        var key = $.request('key');
                        $(this).ajaxSubmit({
                            type: 'post',
                            url: '/sysuser/savedata?key=' + key,
                            dataType: 'json',
                            data: data.field,
                            beforeSend: function () {
                                msgloading = layer.msg('正在保存数据...',
                                    {
                                        icon: 16,
                                        shade: 0.01
                                    });
                            },
                            complete: function () {
                                layer.close(msgloading);
                            },
                            success: function (res) {
                                if (res.type == 1) {
                                    layer.alert(res.msg,
                                        function () {
                                            var index = parent.layer.getFrameIndex(window.name); //获取窗口索引
                                            parent.layer.close(index);
                                        });
                                } else {
                                    layer.alert(res.msg);
                                }
                            }
                        });
                        return false;
                    });

            });


        //初始化数据
        function init() {
            var key = $.request('key');
            if (!$.isNullOrEmpty(key)) {
                $.ajax({
                    url: '/sysuser/getuser',
                    data: { 'key': key },
                    cache: false,
                    beforeSend: function () {
                        msgloading = layer.msg('正在加载数据...',
                            {
                                icon: 16,
                                shade: 0.01
                            });
                    },
                    complete: function () {
                        layer.close(msgloading);
                    },
                    success: function (data) {
                        //if (data.Status == 1) {
                        //    $('#StatusVal').attr('checked',true);
                        //}
                        $('#form1').SetWebControls(data);
                        form.render();
                    }
                });
            }
        }

        var aCity = {
            11: "北京",
            12: "天津",
            13: "河北",
            14: "山西",
            15: "内蒙古",
            21: "辽宁",
            22: "吉林",
            23: "黑龙江",
            31: "上海",
            32: "江苏",
            33: "浙江",
            34: "安徽",
            35: "福建",
            36: "江西",
            37: "山东",
            41: "河南",
            42: "湖北",
            43: "湖南",
            44: "广东",
            45: "广西",
            46: "海南",
            50: "重庆",
            51: "四川",
            52: "贵州",
            53: "云南",
            54: "西藏",
            61: "陕西",
            62: "甘肃",
            63: "青海",
            64: "宁夏",
            65: "新疆",
            71: "台湾",
            81: "香港",
            82: "澳门",
            91: "国外"
        };

        function isCardID(sId) {
            var iSum = 0;
            var info = "";
            if (!/^\d{17}(\d|x)$/i.test(sId)) {
                return "你输入的身份证长度或格式错误";
            }
            sId = sId.replace(/x$/i, "a");
            if (aCity[parseInt(sId.substr(0, 2))] == null) {
                return "你的身份证地区非法";
            }
            sBirthday = sId.substr(6, 4) + "-" + Number(sId.substr(10, 2)) + "-" + Number(sId.substr(12, 2));
            var d = new Date(sBirthday.replace(/-/g, "/"));
            if (sBirthday != (d.getFullYear() + "-" + (d.getMonth() + 1) + "-" + d.getDate())) {
                return "身份证上的出生日期非法";
            }
            for (var i = 17; i >= 0; i--) iSum += (Math.pow(2, i) % 11) * parseInt(sId.charAt(17 - i), 11);
            if (iSum % 11 != 1) {
                return "你输入的身份证号非法";
            }
            //aCity[parseInt(sId.substr(0,2))]+","+sBirthday+","+(sId.substr(16,1)%2?"男":"女");//此次还可以判断出输入的身份证号的人性别
            //return true;
        }

    </script>
}
<div style="margin: 15px;">
    <fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
        <legend>请填写数据信息</legend>
    </fieldset>
    <form id="form1" class="layui-form" method="post" action="">
        <div class="layui-form-item">
            <label class="layui-form-label">用户头像：</label>
            <div class="layui-input-inline">
                <div class="site-demo-upload">
                    <img id="LAY_demo_upload" src="~/images/defaulthead.jpg">
                    <div class="site-demo-upbar">
                        <input type="file" name="file" class="layui-upload-file" id="test">
                    </div>
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">用户名：</label>
            <div class="layui-input-inline">
                <input type="hidden" id="UserId" name="UserId" />
                <input type="text" id="UserName" name="UserName" lay-verify="fname" autocomplete="off" placeholder="请输入用户名" class="layui-input" />
            </div>
            <label class="layui-form-label">真实姓名：</label>
            <div class="layui-input-inline">
                <input type="text" id="RealName" name="RealName" lay-verify="realname" autocomplete="off" placeholder="请输入用户真实姓名" class="layui-input" />
            </div>
            <label class="layui-form-label">用户昵称：</label>
            <div class="layui-input-inline">
                <input type="text" id="NickName" name="NickName" autocomplete="off" placeholder="请输入用户昵称" class="layui-input" />
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">年龄：</label>
            <div class="layui-input-inline">
                <input type="text" id="Age" name="Age" lay-verify="number" autocomplete="off" placeholder="请输入年龄" class="layui-input" />
            </div>
            <label class="layui-form-label">性别：</label>
            <div class="layui-input-inline">
                <select id="Gender" name="Gender">
                    <option value="">===请选择===</option>
                    <option value="1">男</option>
                    <option value="0">女</option>
                </select>
            </div>
            <label class="layui-form-label">民族：</label>
            <div class="layui-input-inline">
                <select id="Nation" name="Nation">
                    <option value="">===请选择===</option>
                    <option value="1">汉族</option>
                    <option value="2">回族</option>
                    <option value="3">土家族</option>
                    <option value="4">藏族</option>
                    <option value="5">彝族</option>
                    <option value="6">维吾尔族</option>
                    <option value="7">高山族</option>
                    <option value="8">蒙古族</option>
                    <option value="9">布依族</option>
                    <option value="10">朝鲜族</option>
                </select>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">出生日期：</label>
            <div class="layui-input-inline">
                <input type="text" name="BirthDay" id="BirthDay" lay-verify="date" placeholder="yyyy-mm-dd" autocomplete="off" class="layui-input" onclick="layui.laydate({ elem: this,format: 'YYYY-MM-DD',istime: false})" />
            </div>
            <label class="layui-form-label">身份证号：</label>
            <div class="layui-input-inline">
                <input type="text" name="CardId" id="CardId" lay-verify="cardnum" placeholder="请输入身份证号码" autocomplete="off" class="layui-input" />
            </div>
            <label class="layui-form-label">电话号码：</label>
            <div class="layui-input-inline">
                <input type="text" name="Phone" id="Phone" placeholder="请输入电话号码" autocomplete="off" class="layui-input" />
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">手机号码：</label>
            <div class="layui-input-inline">
                <input type="text" name="Mobile" id="Mobile" lay-verify="phone" placeholder="请输入手机号码" autocomplete="off" class="layui-input" />
            </div>
            <label class="layui-form-label">电子邮件：</label>
            <div class="layui-input-inline">
                <input type="text" name="Email" id="Email" lay-verify="email" placeholder="请输入电子邮箱地址" autocomplete="off" class="layui-input" />
            </div>
            <label class="layui-form-label">QQ号码：</label>
            <div class="layui-input-inline">
                <input type="text" name="QQ" id="QQ" placeholder="请输入QQ号码" autocomplete="off" class="layui-input" />
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">微信号码：</label>
            <div class="layui-input-inline">
                <input type="text" name="WeChat" id="WeChat" placeholder="请输入微信号码" autocomplete="off" class="layui-input" />
            </div>
            <label class="layui-form-label">当前状态：</label>
            <div class="layui-input-inline">
                <input type="checkbox" id="Status" name="Status" lay-skin="switch" lay-filter="switchTest" title="当前状态" lay-text="启用|禁用" />
                @*<input type="hidden" id="Status" name="Status" value="0" />*@
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">联系地址：</label>
            <div class="layui-input-block">
                <input type="text" id="Address" name="Address" autocomplete="off" placeholder="请输入联系地址" class="layui-input" />
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">备注信息：</label>
            <div class="layui-input-block">
                <textarea id="Description" name="Description" placeholder="请输入内容" class="layui-textarea"></textarea>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-input-block">
                <button class="layui-btn" lay-submit="" lay-filter="savedata">立即提交</button>
                <button type="reset" class="layui-btn layui-btn-primary">重置</button>
            </div>
        </div>
    </form>
</div>
