
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <meta name="keywords" content="">
    <meta name="description" content="">
    <title>目录管理</title>
    <link type="text/css" href="~/css/main.css" rel="stylesheet" />
    <link href="~/css/global.css" rel="stylesheet" />
    <link href="~/layui/layui/css/layui.css" rel="stylesheet" />
    <link type="text/css" href="~/lib/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <link type="text/css" href="~/css/table.css" rel="stylesheet" />
</head>
<body>
    <div class="admin-main">
        <blockquote class="layui-elem-quote">
            <a href="javascript:;" class="layui-btn layui-btn-small" id="add">
                <i class="fa fa-plus" aria-hidden="true"></i> 添加信息
            </a>
        </blockquote>
        <div class="layui-field-box layui-form">
            <table id="menus" class="layui-table table-hover">
                <thead>
                    <tr>
                        <th>目录名称</th>
                        <th>目录图标</th>
                        <th>是否顶级</th>
                        <th>排列序号</th>
                        <th>目录状态</th>
                        <th>链接地址</th>
                        <th>说明</th>
                        <th>添加时间</th>
                        <th>添加人员</th>
                        <th>操作</th>
                    </tr>
                </thead>
                <tbody id="utbody"></tbody>
            </table>
        </div>
    </div>
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/layui/layui/lay/dest/layui.all.js"></script>
    <script src="~/js/utils.js"></script>
    <script id="tabletempl" type="text/html">
        {{#  layui.each(d, function(index, item){ }}
        <tr>
            <td>{{item.MenuName}}</td>
            <td><i class="{{item.Icon}}"></i>&nbsp;&nbsp;&nbsp;({{item.Icon}})</td>
            <td>
                {{#  if(item.IsHeader===1){ }}
                <i class="layui-icon menu-isshow menu-isshow_y">&#xe605;</i>
                {{#  }else{ }}
                <i class="layui-icon menu-isshow menu-isshow_n">&#x1006;</i>
                {{#  }}}
            </td>
            <td>{{item.SortCode}}</td>
            <td>
                {{#  if(item.Status===1){ }}
                <i class="layui-icon menu-isshow menu-isshow_y">&#xe605;</i>
                {{#  }else{ }}
                <i class="layui-icon menu-isshow menu-isshow_n">&#x1006;</i>
                {{#  }}}
            </td>
            <td>
                {{#  if(item.LinkUrl===null){ }}
                {{#  }else{ }}
                {{item.LinkUrl}}
                {{#  }}}
            </td>
            <td>
                {{#  if(item.Description===null){ }}
                无
                {{#  }else{ }}
                {{item.Description}}
                {{#  }}}
            </td>
            <td>{{item.CreateTime}}</td>
            <td>{{item.CreateUser}}</td>
            <td>
                <a href="javascript:void(0);" data-id="{{item.MenuId}}" class="layui-btn layui-btn-mini" onclick="showEdit('编辑信息 ({{item.MenuName}})','{{item.MenuId}}');">编辑</a>
                <a href="javascript:void(0);" id="{{item.MenuId}}" data-id="{{item.MenuId}}" class="layui-btn layui-btn-danger layui-btn-mini" onclick="delObj(this);">删除</a>
            </td>
        </tr>
        {{#  }); }}
    </script>
    <script>
        var msgloading;
        var layer;
        var form;
        var laytpl;
        layui.use(['layer', 'form', 'laytpl'],
            function () {
                layer = layui.layer;
                form = layui.form();
                laytpl = layui.laytpl;
            });
        $(window).ready(function () {
            bindGird();

            $('#add').click(additem);
        });


        function additem() {
            layer.open({
                type: 2,
                anim: 1,
                title: '新增信息',
                content: '/sysmenu/form',
                area: ['82%', '90%'],
                maxmin: true,
                full: function (elem) {
                    var win = window.top === window.self ? window : parent.window;
                    $(win).on('resize',
                        function () {
                            var $this = $(this);
                            elem.width($this.width()).height($this.height()).css({
                                top: 0,
                                left: 0
                            });
                            elem.children('div.layui-layer-content').height($this.height() - 95);
                        });
                },
                end: function () {
                    bindGird();
                }
            });
        }


        function bindGird() {
            $.ajax({
                url: '/sysmenu/getmenus',
                cache: false,
                beforeSend: function () {
                    msgloading = layer.msg('正在加载数据...',
                        {
                            icon: 16,
                            shade: 0.01
                        });
                },
                complete: function () {
                    layer.close(msgloading);
                },
                success: function (res) {
                    if (res) {
                        if (res.length > 0) {
                            var gettpl = document.getElementById('tabletempl').innerHTML;
                            laytpl(gettpl).render(res,
                                function (html) {
                                    document.getElementById('utbody').innerHTML = html;
                                });
                        }
                    }
                },
                error: function (msg) {
                    console.log(msg);
                }
            });
        }

        function showEdit(title, key) {
            layer.open({
                type: 2,
                title: title,
                anim: 2,
                content: '/sysmenu/form?key=' + key,
                area: ['82%', '90%'],
                maxmin: true,
                full: function (elem) {
                    var win = window.top === window.self ? window : parent.window;
                    $(win).on('resize',
                        function () {
                            var $this = $(this);
                            elem.width($this.width()).height($this.height()).css({
                                top: 0,
                                left: 0
                            });
                            elem.children('div.layui-layer-content').height($this.height() - 95);
                        });
                },
                end: function () {
                    bindGird();
                }
            });
        }
    </script>
</body>
</html>
