@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <meta name="keywords" content="">
    <meta name="description" content="">
    <title>管理登陆</title>
    <link href="~/layui/layui/css/layui.css" rel="stylesheet" />
    <link href="~/css/sccl.css" rel="stylesheet" />
</head>
<body class="login-bg">
<div class="login-box">
    <header>
        <h1>后台管理系统</h1>
    </header>
    <div class="login-main">
        <form action="" class="layui-form" method="post">
            <input name="__RequestVerificationToken" type="hidden" value="">
            <div class="layui-form-item">
                <label class="login-icon">
                    <i class="layui-icon">&#xe612;</i>
                </label>
                <input type="text" id="UserName" name="UserName" lay-verify="userName" autocomplete="off" placeholder="这里输入登陆名称" class="layui-input" value="@ViewBag.UserName" />
            </div>
            <div class="layui-form-item">
                <label class="login-icon">
                    <i class="layui-icon">&#xe63c;</i>
                </label>
                <input type="password" id="UserPass" name="UserPass" lay-verify="password" autocomplete="off" placeholder="这里输入登陆密码" class="layui-input" />
            </div>
            <div class="layui-form-item">
                <div class="pull-left login-remember">
                    <label>记住帐号？</label>
                    @if (ViewBag.Rember == true)
                    {
                        <input type="checkbox" id="IsRember" name="IsRember" lay-skin="switch" lay-filter="switchRember" title="记住帐号" lay-text="是|否" checked="checked" />
                        <div class="layui-unselect layui-form-switch"><i></i>
                        </div>
                    }
                    else
                    {
                        <input type="checkbox" id="IsRember" name="IsRember" lay-skin="switch" lay-filter="switchRember" title="记住帐号" lay-text="是|否" /><div class="layui-unselect layui-form-switch"><i></i></div>
                    }

                </div>
                <div class="pull-right">
                    <button class="layui-btn layui-btn-primary" lay-submit="" lay-filter="login">
                        <i class="layui-icon"></i> 登录
                    </button>
                </div>
                <div class="clear"></div>
            </div>
        </form>
    </div>
    <footer>
        <p>BigMg © B.M.G.COM</p>
    </footer>
</div>
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/layui/layui/lay/dest/layui.all.js"></script>
    <script src="~/lib/jquery-form/dist/jquery.form.min.js"></script>
    <script>
        var msgloading;
        layui.use(['layer', 'form'], function () {
            var layer = layui.layer,
                form = layui.form();

            form.on('switch(switchRember)',
                function (data) {
                    var ischeck = data.elem.checked;
                    if (ischeck) {
                        $('#IsRember').val(true);
                    } else {
                        $('#IsRember').val(false);
                    }
                });


            form.verify({
                userName: function (value) {
                    if (value === '' || value === null) {
                        return '请输入登陆名！';
                    }
                },
                password: function (value) {
                    if (value === '' || value === null) {

                        //layer.open({
                        //    title: '<img src="' + location.origin + '/layui/images/face/7.gif" alt="[害羞]">输入验证码',
                        //    type: 1,
                        //    content: document.getElementById('code-temp').innerHTML,
                        //    btn: ['确定'],
                        //    yes: function (index, layero) {
                        //        var $code = $('#code');
                        //        if ($code.val() === '') {
                        //            layer.msg('输入验证码啦，让我知道你是人类。');
                        //            isCheck = false;
                        //        } else {
                        //            $('input[name=verifyCode]').val();
                        //            var params = data.field;
                        //            params.verifyCode = $code.val();
                        //            submit($, params);
                        //            layer.close(index);
                        //        }
                        //    },
                        //    area: ['250px', '150px']
                        //});
                        return '请输入登陆密码！';
                    }

                }
            });

            form.on('submit(login)', function (data) {
                //console.info(data);
                //layer.open({
                //    title: '<img src="' + location.origin + '/Plugins/layui/images/face/7.gif" alt="[害羞]">输入验证码',
                //    type: 1,
                //    content: document.getElementById('code-temp').innerHTML,
                //    btn: ['确定'],
                //    yes: function (index, layero) {
                //        var $code = $('#code');
                //        if ($code.val() === '') {
                //            layer.msg('输入验证码啦，让我知道你是人类。');
                //            isCheck = false;
                //        } else {
                //            $('input[name=verifyCode]').val();
                //            var params = data.field;
                //            params.verifyCode = $code.val();
                //            submit($, params);
                //            layer.close(index);
                //        }
                //    },
                //    area: ['250px', '150px']
                //});
                $(this).ajaxSubmit({
                    type: 'post',
                    url: '/account/userlogin',
                    dataType: 'json',
                    data: data.field,
                    beforeSend: function () {
                        msgloading = layer.msg('正在登陆，请稍后...',
                            {
                                icon: 16,
                                shade: 0.01
                            });
                    },
                    complete: function () {
                        layer.close(msgloading);
                    },
                    success: function (res) {
                        if (res.type == 1) {
                            layer.alert(res.msg,
                                function () {
                                    window.location.href = res.backurl;
                                });
                        } else {
                            layer.alert(res.msg);
                        }
                    }
                });
                return false;
            });
        });
    </script>
</body>
</html>
